{% extends 'base.html' %}

{% block content %}
<br>
<h1>{% block title %}Search for Metadata!{% endblock %}</h1>
<div class="input-group mb-3">
  <input type="text" class="form-control form-input" placeholder="Search anything..." id="searchField">
  <button class="btn btn-primary" type="button" id="searchButton">Search</button>
</div>

<table class="table" id="resTable">
    <thead>
      <tr>
        <th>Hit number</th>
        <th>FileName</th>
        <th>Last Changed</th>
      </tr>
    </thead>
    <tbody id="resBody">
    </tbody>
  </table>
{% endblock %}
