[MASTER]
ignored-modules=opensearchpy,mdh,dotenv,flask,backend.opensearch_api

[MESSAGES CONTROL]
disable=logging-fstring-interpolation,missing-module-docstring

[FORMAT]

[REPORTS]

[TYPECHECK]

[VARIABLES]

[CLASSES]

[DESIGN]

[IMPORTS]

[EXCEPTIONS]

[FUNCTIONS]

[METHODS]

[MODULES]

[SIMILARITIES]

[FORMATTERS]

[LOGGING]

[MISCELLANEOUS]
