.iframeContainer {
    width: 100%;
    margin-bottom: 20px;
}

.iframeContainer iframe {
    display: block;
    width: 100%;
    height: auto;
    border: none;
}


body {

    background: #d1d5db;
}

.height {

    height: 100vh;
}

.form {

    position: relative;
}

.form .fa-search {

    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;

}

.form span {

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan {
    padding-left: 7px;
}

.left-pan i {

    padding-left: 10px;
}

.form-input {

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {

    box-shadow: none;
    border: none;
}

#resTable {
    display: none;
}

#iframeContainer iframe {
    width: 100%;
    height: 700px;
    border: none;
}

.wrap-text {
    word-wrap: break-word;
    table-layout: fixed;
    width: 100%;
}

.formRow {
    margin-bottom: 10px;
}


.table {
    border: none;
}

.table td, .table th {
    border: none;
    text-align: left;

}

.table thead th:last-child {
    text-align: right;
}

.table tbody td:last-child {
    text-align: right;
}

.no-visualizations {
    font-size: 22px;
    font-style: italic;
    color: #000000;
}

.page-link {
    color: #000000;

}

.page-item.active .page-link {
    background-color: #000000;
    border-color: #000000;
}

.page-item.disabled .page-link {
    color: #c7c7c7;
    pointer-events: none;
}


.iframe-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resizable-component {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    resize: both;
    border: 1px solid #ccc;
    cursor: move;
}

.iframe-name {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.resizable-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-header button {
    margin-left: 10px;
}

.sidebar-container {
    position: fixed;
    top: 56px; /* Adjust this value based on the height of your navbar */
    right: 0;
    width: 30%;
    height: calc(100% - 56px); /* Adjust this value based on the height of your navbar */
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.sidebar-content {
    height: 100%;
    padding: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar-title {
    margin: 0;
}

.sidebar-body {
    flex-grow: 1;
}

.sidebar-footer {
    margin-top: 20px;
    text-align: right;
}

.checkbox-container {
    display: flex;
    align-items: center;

}

.checkbox-container input[type="checkbox"] {
    margin-right: 15px;
    transform: scale(1.3);
}

.checkbox-container label {
    font-size: 1.2em;
}

.respp {
    display: flex;
    align-items: center;
}
