    .iframeContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .iframeContainer iframe {
        display: block;
        width: 100%;
        height: auto;
        border: none;
    }


body {

    background: #d1d5db;
}

.height {

    height: 100vh;
}

.form {

    position: relative;
}

.form .fa-search {

    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;

}

.form span {

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan {
    padding-left: 7px;
}

.left-pan i {

    padding-left: 10px;
}

.form-input {

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {

    box-shadow: none;
    border: none;
}

#resTable {
    display: none;
}

#iframeContainer iframe {
    width: 100%;
    height: 700px;
    border: none;
}

.wrap-text{
    word-wrap: break-word;
    table-layout: fixed;
    width: 100%;
}

.formRow{
    margin-bottom: 10px;
}


.table {
    border: none;
}
.table td, .table th {
    border: none;
    text-align: left;

}
.table thead th:last-child {
    text-align: right;
}

.table tbody td:last-child {
    text-align: right;
}

.no-visualizations {
    font-size: 22px;
    font-style: italic;
    color: #000000;
  }

  .page-link{
    color: #000000;

  }

  .page-item.active .page-link {
    background-color:#000000;
    border-color: #000000;
  }

  .page-item.disabled .page-link {
    color: #c7c7c7;
    pointer-events: none;
  }