{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}
<br>
<h1>{% block title %}Search for Metadata!{% endblock %}</h1>

<div class="d-flex justify-content-center mb-3">
    <div class="btn-group" role="group" aria-label="Search options">
        <button type="button" class="btn btn-secondary" id="simpleSearchToggleButton">Simple Search</button>
        <button type="button" class="btn btn-secondary" id="advancedSearchToggleButton">Advanced Search</button>
    </div>
</div>

<div id="simpleSearch" class="mt-3 text-end" {% if last_form != 'simple' %}style="display: none;"{% endif %}>


    <form id="simpleSearchForm" method="POST">
      {{ simpleSearchForm.hidden_tag() }}
      <div class="row">
        <label for="searchValue" class="col-md-2">SearchValue:</label> 
        {{ simpleSearchForm.searchValue(class_="form-control col-md-8") }}
        <input type="submit" class="btn btn-primary col-md-2" value="Submit" name="simple-submit">

      </div>
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6 respp">
            <label for="resultsPerPageSS">Results per page:</label>
            <select class="form-control" id="resultsPerPageSS" name="resultsPerPageSS">
              <option value="10" selected>10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <div class="col-md-3"></div>
      </div>
      {{ simpleSearchResult | safe }}
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <input type="hidden" id="currentPageSS" name="currentPageSS" value="0" class="form-control">
          <ul class="pagination">
            <li class="page-item disabled" id="currentPagePagNegSS"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item" active><a class="page-link" id="currentPagePagSS">0</a></li>
            <li class="page-item" id="currentPagePagAddSS"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
        </div>
        <div class="col-md-4"></div>
      </div>
    </form>

</div>

<div id="advancedSearch" class="mt-3 text-end" {% if last_form != 'advanced' %}style="display: none;"{% endif %}>

  <form class="myform" id="advancedSearchForm"  method="POST">
    <input type="hidden" id="datatypesDict" name="datatypesDict" value="{{ json_dict }}">
    {{ advancedSearchForm.hidden_tag() }}
    <div class="form-container" id="form-container">
        <div class="row formRow" id="formRow">
            <div class="col-md-3">
                {{ advancedSearchForm.entry[0].metadata_tag.label }}<br>
                {{ advancedSearchForm.entry[0].metadata_tag(class="form-control") }}
            </div>
            <div class="col-md-3">
              <label for="entry-0-condition">Condition</label><br>
              <select class="form-control" id="entry-0-condition" name="entry-0-condition">
                <option value="tag_exists">tag exists</option>
                  <option value="tag_not_exists">tag not exists</option>
                  <option disabled style="text-align:center;">────────────────</option>
                  <option value="field_is_empty">field is empty</option>
                  <option value="field_is_not_empty">field is not empty</option>
                  <option disabled style="text-align:center;">────────────────</option>
                  <option value="contains" selected>contains</option>
                  <option value="not_contains">not contains</option>
                  <option disabled style="text-align:center;">────────────────</option>
                  <option value="is_equal">is equal</option>
                  <option value="is_not_equal">is not equal</option>
                  <option disabled style="text-align:center;">────────────────</option>
                  <option value="is_greater">is greater</option>
                  <option value="is_smaller">is smaller</option>
                  <option disabled style="text-align:center;">────────────────</option>
                  <option value="is_greater_or_equal">is greater or equal</option>
                  <option value="is_smaller_or_equal">is smaller or equal</option>
              </select>
          </div>
            
            <div class="col-md-3">
                {{ advancedSearchForm.entry[0].value.label }}<br>
                {{ advancedSearchForm.entry[0].value(class="form-control") }}
            </div>
            <div class="col-md-2">
              {{ advancedSearchForm.entry[0].weight.label }}<br>
              {{ advancedSearchForm.entry[0].weight(class="form-control") }}
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      <button type="button" id="addRow" class="btn btn-secondary">Add row</button>
      <input type="submit" class="btn btn-primary" value="Submit" name="advanced-submit">
    </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6 respp">
          <label for="resultsPerPage">Results per page:</label>
          <select class="form-control" id="resultsPerPage" name="resultsPerPage">
            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div class="col-md-3"></div>
    </div>
    {{ advancedSearchResult | safe }}
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <input type="hidden" id="currentPage" name="currentPage" value="0" class="form-control">
        <ul class="pagination">
          <li class="page-item disabled" id="currentPagePagNeg"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item" active><a class="page-link" id="currentPagePag">0</a></li>
          <li class="page-item" id="currentPagePagAdd"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
    
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hit Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id="detailsTable">
          <!-- The JavaScript function will insert the details table here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<table class="table" id="resTable">
    <thead>
    <tr>
        <th>Hit number</th>
        <th>FileName</th>
        <th>Last Changed</th>
    </tr>
    </thead>
    <tbody id="resBody">
    </tbody>
</table>
{% endblock %}
