{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}
<br>
<h1>{% block title %}Search for Metadata!{% endblock %}</h1>

<div class="d-flex justify-content-center mb-3">
    <div class="btn-group" role="group" aria-label="Search options">
        <button type="button" class="btn btn-secondary" id="simpleSearchToggleButton">Simple Search</button>
        <button type="button" class="btn btn-secondary" id="advancedSearchToggleButton">Advanced Search</button>
    </div>
</div>

<div id="simpleSearch" class="mt-3 text-end">
    {{ render_form(form) }}
    {{ result | safe }}

</div>

<div id="advancedSearch" class="mt-3 text-end" style="display: none;">
    <div id="searchParameters">
        <div class="input-group mb-3">
            <input type="text" class="form-control form-input" placeholder="Parameter Name" id="parameterName0">
            <select class="form-control" id="operators0">
                <option>=</option>
                <option>></option>
                <option>>=</option>
                <option><</option>
                <option><=</option>
                <option><></option>
            </select>
            <input type="text" class="form-control form-input" placeholder="Search Value" id="searchValue0">
        </div>
    </div>
    <input type="hidden" id="countParams" value="0"></input>
    <button class="btn btn-secondary" type="button" id="addParameterButton">Add Parameter</button>
    <button class="btn btn-primary" type="button" id="advancedSearchButton">Search...</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hit Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="detailsTable">
          <!-- The JavaScript function will insert the details table here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<table class="table" id="resTable">
    <thead>
    <tr>
        <th>Hit number</th>
        <th>FileName</th>
        <th>Last Changed</th>
    </tr>
    </thead>
    <tbody id="resBody">
    </tbody>
</table>
{% endblock %}
