{% extends 'base.html' %}

{% block content %}
<style>
    .iframeContainer {
        overflow: auto;
        width: 100%;
        height: 100vh; /* Adjust the height as needed */
    }

    .iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<br>
<h1>{% block title %} Import your own visualizations! {% endblock %}</h1>
<br>

<form>
    <div id="iframeContainerWrapper">
        {% for code in iframe_code %}
        <div class="iframeContainer">
            {% if code %}
                <iframe srcdoc="{{ code }}" class="iframe" frameborder="0"></iframe>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</form>

{% endblock %}
